<h1>Bank Branches</h1>

<div fxLayout="row">
  <select
    [formControl]="cityControl">
    <option *ngFor="let city of cities"
    [value]="city">{{city}}</option>
  </select>
  <input
  [formControl]="searchControl"
  [placeholder]="'Search String'"
  class="clean-input">
</div>


<table *ngIf="!loading">
  <tr>
    <th>ifsc</th>
    <th>bank_id</th>
    <th>address</th>
    <th>branch</th>
    <th>city</th>
    <th>state</th>
    <th>district</th>
    <th>bank_name</th>
  </tr>
  <ng-container *ngFor="let filteredData of filteredData$ | async">
    <tr>
      <td>{{ filteredData.ifsc }}</td>
      <td>{{ filteredData.bank_id }}</td>
      <td>{{ filteredData.address }}</td>
      <td>{{ filteredData.branch }}</td>
      <td>{{ filteredData.city }}</td>
      <td>{{ filteredData.state }}</td>
      <td>{{ filteredData.district }}</td>
      <td>{{ filteredData.bank_name }}</td>
    </tr>
  </ng-container>
  <tr></tr>
</table>

<div *ngIf="loading">
  <span>Loading</span>
</div>
